<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>File Scan is Completed</title>
</head>
<body>
<h1>{{ productName }} ({{ release }}) : File scan is Completed for {{ file }} !</h1>
{% if cve is not empty %}
    <h2>Scanned File is having {{ count }} vulnerabilities :</h2>
    <ul>
        {% for c in cve %}
            <li>{{ cve['dependency'] }} : <a href="{{ cve['link'] }}">  </a> {{ cve['id'] }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No files are scanned.</p>
{% endif %}
</body>
</html>
